In [24]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json 
import time
import yfinance as yf
#api_key =

In [25]:
#pip install yfinance

In [23]:
#Sample 
import yfinance as yf

costco=yf.Ticker("COST")

print(costco)

# get stock info
costco.info

# get historical market data, here max is 5 years.
costco.history(period="max")

yfinance.Ticker object <COST>

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-07-09 00:00:00-04:00,7.439342,7.700372,7.352333,7.656867,1116800,0.0,0.0
1986-07-10 00:00:00-04:00,7.700374,7.743879,7.439344,7.613364,595600,0.0,0.0
1986-07-11 00:00:00-04:00,7.569861,7.613366,7.352336,7.352336,800400,0.0,0.0
1986-07-14 00:00:00-04:00,7.395843,7.395843,7.047803,7.134813,738000,0.0,0.0
1986-07-15 00:00:00-04:00,7.091304,7.091304,6.482235,6.917284,2059200,0.0,0.0
...,...,...,...,...,...,...,...
2022-11-03 00:00:00-04:00,480.880005,491.329987,479.709991,486.290009,2010400,0.0,0.0
2022-11-04 00:00:00-04:00,490.399994,492.630005,476.489990,486.410004,1986800,0.0,0.0
2022-11-07 00:00:00-05:00,477.049988,490.000000,474.500000,488.549988,2036000,0.0,0.0
2022-11-08 00:00:00-05:00,490.730011,498.260010,484.510010,492.760010,1709900,0.0,0.0
2022-11-09 00:00:00-05:00,491.899994,497.579987,486.860107,489.970001,1640520,0.0,0.0

In [ ]:
costco_data_df=pd.DataFrame(costco.info)