In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json 
import time
import yfinance as yf
#api_key =

In [5]:
#pip install yfinance

In [6]:
#Sample 
import yfinance as yf

msft=yf.Ticker("MSFT")

print(msft)

# get stock info
msft.info

# get historical market data, here max is 5 years.
msft.history(period="max")

yfinance.Ticker object <MSFT>

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13 00:00:00-05:00,0.055536,0.063703,0.055536,0.060980,1031788800,0.0,0.0
1986-03-14 00:00:00-05:00,0.060980,0.064247,0.060980,0.063158,308160000,0.0,0.0
1986-03-17 00:00:00-05:00,0.063158,0.064792,0.063158,0.064247,133171200,0.0,0.0
1986-03-18 00:00:00-05:00,0.064247,0.064792,0.062069,0.062613,67766400,0.0,0.0
1986-03-19 00:00:00-05:00,0.062613,0.063158,0.060980,0.061524,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2022-11-01 00:00:00-04:00,234.600006,235.740005,227.330002,228.169998,30592300,0.0,0.0
2022-11-02 00:00:00-04:00,229.460007,231.300003,220.039993,220.100006,38407000,0.0,0.0
2022-11-03 00:00:00-04:00,220.089996,220.410004,213.979996,214.250000,36633900,0.0,0.0
2022-11-04 00:00:00-04:00,217.550003,221.589996,213.429993,221.389999,36767800,0.0,0.0
2022-11-07 00:00:00-05:00,221.990005,228.410004,221.279999,227.869995,33465400,0.0,0.0

In [7]:
import yfinance as yf

lowes=yf.Ticker("LOW")

print(lowes)

# get stock info
lowes.info

# get historical market data, here max is 5 years.
lowes.history(period="max")

yfinance.Ticker object <LOW>

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-03-17 00:00:00-05:00,0.000000,0.292091,0.284909,0.284909,217600,0.0,0.0
1980-03-18 00:00:00-05:00,0.000000,0.287303,0.277726,0.277726,272000,0.0,0.0
1980-03-19 00:00:00-05:00,0.000000,0.280120,0.275332,0.277726,777600,0.0,0.0
1980-03-20 00:00:00-05:00,0.000000,0.282515,0.277726,0.277726,2105600,0.0,0.0
1980-03-21 00:00:00-05:00,0.000000,0.280120,0.272938,0.272938,348800,0.0,0.0
...,...,...,...,...,...,...,...
2022-11-03 00:00:00-04:00,180.850006,182.860001,178.710007,179.820007,4187500,0.0,0.0
2022-11-04 00:00:00-04:00,182.779999,187.850006,178.300003,182.149994,4623400,0.0,0.0
2022-11-07 00:00:00-05:00,183.570007,187.800003,181.039993,186.559998,2715300,0.0,0.0
2022-11-08 00:00:00-05:00,188.059998,190.009995,185.779999,188.360001,2880800,0.0,0.0
2022-11-09 00:00:00-05:00,187.309998,191.270004,186.304993,186.630005,2932244,0.0,0.0

In [ ]:
# Export the City_Data into a csv
city_data_df.to_csv("output_data/cities.csv", index_label="City_ID")